<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a
            class="navbar-brand"
            href="/">

            Hybrid Recommendation

        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div
            class="collapse navbar-collapse"
            id="navbarNav">

            <div class="navbar-nav ms-auto">

                <a
                    class="nav-link"
                    href="/">

                    Home

                </a>

                <a
                    class="nav-link"
                    href="/search">

                    Search

                </a>

                <a
                    class="nav-link"
                    href="/">

                    Movies

                </a>

                <a
                    class="nav-link"
                    href="/music">

                    Music

                </a>

                <a
                    class="nav-link"
                    href="/about">

                    About

                </a>

                <a
                    class="nav-link"
                    href="/metrics">

                    Metrics

                </a>

            </div>

        </div>

    </div>

</nav>